        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Need Coffee <i class="fa fa-coffee fa-4g"></i></h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><a href="http://nanikachan.github.io">nanikachan.github.io</h5>
                </div>
            </div>
    <div class="footer-copyright">
    <div class="container center-align">
	Build With <a href="http://materializecss.com" target="_blank">Materialize</a> and <i class="fa fa-coffee fa-4g"></i> by <a href="http://nanikachan.github.io">Zoldyck</h5></a>
    </div>
  </div>
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script> 