<header class="header-site" role="banner">
    <div class="content">
         <h1 class="white-text" style="letter-spacing: -4px; text-transform: uppercase;   text-shadow: 1px 1px rgb(3, 152, 226), 2px 2px rgb(3, 152, 226), 3px 3px rgb(3, 152, 226), 4px 4px rgb(3, 148, 221), 5px 5px rgb(3, 148, 221), 6px 6px rgb(3, 148, 221), 7px 7px rgb(3, 142, 211), 8px 8px rgb(3, 142, 211), 9px 9px rgb(3, 142, 211), 10px 10px rgb(3, 135, 201), 11px 11px rgb(3, 135, 201), 12px 12px rgb(3, 135, 201), 13px 13px rgb(3, 135, 201), 14px 14px rgb(3, 135, 201), 15px 15px rgb(3, 135, 201), 16px 16px rgb(3, 135, 201), 17px 17px rgb(3, 135, 201), 18px 18px rgb(3, 135, 201), 19px 19px rgb(3, 132, 196), 20px 20px rgb(3, 132, 196), 21px 21px rgb(3, 132, 196), 22px 22px rgb(3, 132, 196), 23px 23px rgb(3, 132, 196), 24px 24px rgb(3, 128, 191), 25px 25px rgb(3, 128, 191), 26px 26px rgb(3, 128, 191);background-color: rgb(3, 152, 226);height: 100%;font-size: 75px;text-align: center;">
            <span class="site-title">{{site.username}}</span>
            </h1>
            <h1 class="white-text" style="letter-spacing: -1px; text-transform: uppercase;">
            <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="icons-home">
            <a aria-label="Send email" href="mailto:{{site.username}}"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>
            <a aria-label="My Facebook" target="_blank" href="https://facebook.com/{{site.facebook_username}}"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg></a>
            <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{site.instagram_username}}"><svg class="icon"><use xlink:href="#icon-instagram"></use></svg></a>            
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg></a>
            <a aria-label="Use the RSS to get updated" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
        </div>
    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
    {% include menu-search.html %}
</header>