<section class="share">
  <h3><a class="waves-effect waves-light cyan btn-large">Share</h3></a>
    <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20nanikachan.github.io{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a></div>
    <a aria-label="Share on Facebook"href="https://www.facebook.com/sharer/sharer.php?u=nanikachan.github.io{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a aria-label="Share on Google Plus" href="https://plus.google.com/share?url=nanikachan.github.io{{ page.url }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
        <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
    </a>

    <a aria-label="Share on Reddit" href= "http://www.reddit.com/submit?url=nanikachan.github.io{{ page.url }}"
    onclick="window.open(this.href, 'reddit-share','width=580,height=296');return false;" title="share on Reddit">
    	<svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
    </a>

    <a aria-label="Share on Tumblr"href="http://www.tumblr.com/share/link?url=nanikachan.github.io{{ page.url }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Tumblr">
        <svg class="icon icon-tumblr"><use xlink:href="#icon-tumblr"></use></svg>
    </a>
</section>